
.operations_list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
    .operations_list-header input[type="text"] {
        margin-right: 10px;
    }

    .operations_list-header .icon-button{
        background: none;
        border: none;
        padding: 0;
        font-size: 3rem;
        cursor: pointer;
    }
.operations_list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 20px;
    background-color: #ffffff;
    min-height: 100vh;
    width: 100%;
}

.operations_list-container h3 {
    color: #000000;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    width: 100%;
}

.operations_list-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.operations_list-form {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.operations_list-form .form-group-row {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.operations_list-form .form-group {
    flex: 1;
}

.operations_list-form input[type="text"],
.operations_list-form select {
    padding: 0.5rem;
    border: 1.5px solid #333;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
}

.operations_list-form button {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #24365C;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    
}

.operations_list-form button:hover {
    background-color: #1A2C48;
}

.operations_list-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: #171A4A;
    border-radius: 7px;
    overflow: hidden;
}

.operations_list-table th,
.operations_list-table td {
    padding: 0.75rem;
    text-align: left;
    color: #fff;
}

.operations_list-table th {
    background-color: #171A4A;
    font-weight: bold;
}

.operations_list-table tbody tr {
    background-color: #24365C;
}

.operations_list-table tbody tr:nth-child(even) {
    background-color: #1A2C48;
}

.operations_list-table tbody tr:hover {
    background-color: #2C4878;
}

.operations_list-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 1.5rem;
}

.operations_list-icon-button:hover {
    color: #ccc;
}


