.operations_list-container {
    margin: 35px;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff; 
}

.operations_list-header {
    font-weight: normal;
    display: flex;
    align-items: center;
    width: 100%;
}
  
  .operations_list-header button {
    background: none;
    border: none;
    padding: 0;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: end;
    margin-right: 10px;
  }

.operations_list-sar-operative-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.operations_list-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
    .operations_list-actions .operations_list-add {
      display: flex;
      background: none;
      border: none;
      padding: 0;
      font-size: 3rem;
      cursor: pointer;
      align-items: end;
    }

.operations_list-content {
    width: 100%;
    margin-top: 20px;
}

.operations_list-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #171A4A;
    border-radius: 7px;
    overflow: hidden;
}

.operations_list-table th,
.operations_list-table td {
    padding: 0.75rem;
    text-align: left;
    color: #fff;
}

.operations_list-table th {
    background-color: #171A4A;
    font-weight: bold;
}

.operations_list-table tbody tr {
    background-color: #24365C;
}

.operations_list-table tbody tr:nth-child(even) {
    background-color: #1A2C48;
}

.operations_list-table tbody tr:hover {
    background-color: #2C4878;
}

.operations_list-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 1.5rem;
}

.operations_list-icon-button:hover {
    color: #ccc;
}