.form-container-matrix{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.options-container{
    padding: 2rem;
}
.title-option{
    font-weight: bolder;
    font-size:x-large;
}
.subtitle-option{
    font-size:larger;
    font-weight: bold;
}
.options-subcontainer{
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    margin: 0.5rem;
}
.option-buttom{
    width: 20rem;
    height: auto;
}

.buttom-container{
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}
.option-rest-container{
    text-align: center;
    width: 28rem;
    height: auto;
    margin: 2rem;
}
.vertical-line {
    border-left: 1px solid black; 
    height: 30rem; 
    margin: 0.5rem auto; 
  }
  .nvg-container{
    gap: 3rem;
  }
  .op-nvg{
    width: 20rem;
    height: auto;

  }
.moon-op-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}
.moon-angle-container{
    gap: 1rem;

}
.moon-angle-container > .option-buttom{
    width: 12rem;
    height: auto;
}

.low-risk-alert{
    background-color: rgb(73, 185, 73);
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 10rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.medium-risk-alert{
    background-color: rgb(174, 165, 40);
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 8rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.high-risk-alert{
    background-color: rgb(240, 38, 38);
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 10rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.risk-result{
    color: white;
    font-weight:bolder;
    font-size: x-large;
}
.risk-result-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-submit-requeriments {
    text-decoration: none; 
}
.mr-link{
    text-decoration: none;
}

.ratio-title{
    height: 40px;
    width: 280px;
    border-radius: 7px;
    background-color: #000033;
    display: grid;
}
.btnsCategories p{
    color: white;
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 7px;
}
#inputStudy:checked ~ div p{
    color: black;
}

#inputStudy:checked ~ .ratio-title{
    border: solid black 2px !important;
    background-color: white;
}








#inputStudy:hover ~ div p{
    color: black;
}

#inputStudy:hover ~ .ratio-title{
    border: solid black 2px !important;
    background-color: white;
}



.form-check-input{
    position: absolute;
    /* width: 100%; */
    height: 50px;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}
.form-group select{
    height: 5vh;
}
.btnSmall{
    width: 190px;
}
.btnSmaller{
    width: 100px;
}