.OptionMenu{
    cursor: pointer;
    color: black;
    transition: 0.1s
}
.OptionMenu  :hover{
    color: rgb(100, 99, 99);
    transition: 0.1s;
}

.parTable{
    max-height: 370px !important;
    overflow-y:hidden;
    margin-top: 30px;
    height: 100%;
}
.generalTable{
 
    width: 100%;
    align-self: center;
   border-radius: 7px;
   border-collapse: collapse;
   
}

.generalTable thead{
    background-color: #003366;
    color: white;
   
    
}
.generalTable td{
    border: 1px solid black;
    padding: 12px;
 
}

.generalTable th{
    border: 1px solid black;
   
}

.generalTable th , td{
  
    text-align: center;
    padding: 2px;
    color: white;
}

.eyeButton{
    background-color: transparent;
    border: 0px;
    transition: 0.2s;

}
.eyeButton:hover{
    padding: 5px;
    transition: 0.2s;
    cursor: pointer;
}


.generalTable tr:nth-child(odd) {
    background-color:  #044f9b;;
}

.generalTable tr:nth-child(even) {
    background-color:  #02478b;;
}


.generalTable tr:hover {
    background-color:  #136ac0;;
}
.upSelect{
    width: 200px;
}

.generalSelect{
    border-radius: 6px;
    transition: 0.1s;
    background-color: white;
    width: 200px;
}

.generalSelect:hover{
    border-radius: 8px;
    padding: 2px;
    transition: 0.1s;
    background-color: beige;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0; /* Menor margen superior e inferior */
    justify-content: center; /* Centra la paginación horizontalmente */
  }
  
  .pagination li {
    margin: 0 3px; /* Menos espaciado entre los elementos */
  }
  
  .pagination a {
    text-decoration: none;
    color: black; /* Color del texto */
    padding: 5px 10px; /* Menor padding para hacer los botones más pequeños */
    border: 1px solid #171A4A; /* Bordes del botón con el color predominante */
    border-radius: 4px; /* Bordes redondeados más sutiles */
    transition: background-color 0.3s; /* Transición suave para el hover */
  }
  
  .pagination a:hover {
    background-color: #171A4A; /* Color de fondo al pasar el mouse */
    color: white; /* Color del texto al pasar el mouse */
  }
  
  .pagination .active a {
    background-color: #171A4A; /* Color de fondo para la página activa */
    color: white; /* Color del texto para la página activa */
    border: 1px solid #171A4A; /* Bordes del botón activo */
  }
  @media (max-width: 768px) {
    .generalTable {
        font-size: 14px; /* Reducir el tamaño de fuente para pantallas más pequeñas */
    }

    .generalTable th, .generalTable td {
        padding: 4px; /* Menos padding para celdas */
    }

    .pagination a {
        padding: 4px 6px; /* Ajustar el padding de los botones de paginación */
        font-size: 10px;
    }
    .navigator{
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .generalTable {
        font-size: 12px; /* Reducir aún más el tamaño de fuente en pantallas pequeñas */
    }

    .generalTable th, .generalTable td {
        padding: 2px; /* Menos padding para celdas */
    }

    .pagination a {
        padding: 3px 5px; /* Ajustar el padding de los botones de paginación */
        font-size: 9px;
  
    }
    .navigator{
        font-size: 10px;
    }
}