:root {
    --nav-background-color: #ffff;
    --nav-text-color: #003366;
}
.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 100;
}

.sidebar.expanded {
    transform: translateX(0);
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
    height: auto;
}

.title {
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 0px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    align-items:flex-start;
    justify-content: flex-start;
}

.menu li {
    margin: 10px 0;
}

.menu  li:hover{
    background-color: #003366;
    color: white;
}

a {
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: 16px;
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    margin-left: 20px;
    transition: 0.2s;
}
a:hover{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.2s;
}

.selectedItem{
   
    background-color: #003366;
   
}

.selectedItem a{
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    
}


.menu-toggle {
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 101;
    transition: 0.2s;
}

.closedMenu {
    font-size: 10px;
    top: 10px;
    left: 10px;
    padding: 5px;
    transition: 0.2s;
}

.content {
    margin-left: 290px;
    padding: 20px;
    flex: 1;
    transition: margin-left 0.3s ease;
}

.open {
    margin-left: 290px;
    transition: 0.12s;
}

.closed {
    margin-left: 0;
    transition: 0.1s;
}

.searcher{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 180px;
}


.searcherUP{
    margin-right: 60px;
}

.btnSwitch{
    background-color: #dce3e7;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;

}

.btnSwitch:hover{
    background-color: #003366;
    color: white;
    padding: 7px;
    transition: 0.2s;
    cursor: pointer;
}


.btnSwitchSelected{
    background-color: #003366;
    color: white;
    transition: 0.2s;
    padding: 5px;

}

.btnSwitchSelected2{
    background-color: #003366;
    color: white;
    transition: 0.3s;
    padding: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}

.parTable{
    max-height: 370px !important;
    overflow-y:hidden;
    margin-top: 30px;
    height: 100%;
}
.generalTable{
 
    width: 100%;
    align-self: center;
   border-radius: 7px;
   border-collapse: collapse;
   
}

.generalTable thead{
    background-color: #003366;
    color: white;
   
    
}
.generalTable td{
    border: 1px solid black;
    padding: 12px;
 
}

.generalTable th{
    border: 1px solid black;
   
}

.generalTable th , td{
  
    text-align: center;
    padding: 2px;
    color: white;
}

.eyeButton{
    background-color: transparent;
    border: 0px;
    transition: 0.2s;

}
.eyeButton:hover{
    padding: 5px;
    transition: 0.2s;
    cursor: pointer;
}


.generalTable tr:nth-child(odd) {
    background-color:  #044f9b;;
}

.generalTable tr:nth-child(even) {
    background-color:  #02478b;;
}


.generalTable tr:hover {
    background-color:  #136ac0;;
}


.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0; /* Menor margen superior e inferior */
    justify-content: center; /* Centra la paginación horizontalmente */
  }
  
  .pagination li {
    margin: 0 3px; /* Menos espaciado entre los elementos */
  }
  
  .pagination a {
    text-decoration: none;
    color: black; /* Color del texto */
    padding: 5px 10px; /* Menor padding para hacer los botones más pequeños */
    border: 1px solid #171A4A; /* Bordes del botón con el color predominante */
    border-radius: 4px; /* Bordes redondeados más sutiles */
    transition: background-color 0.3s; /* Transición suave para el hover */
  }
  
  .pagination a:hover {
    background-color: #171A4A; /* Color de fondo al pasar el mouse */
    color: white; /* Color del texto al pasar el mouse */
  }
  
  .pagination .active a {
    background-color: #171A4A; /* Color de fondo para la página activa */
    color: white; /* Color del texto para la página activa */
    border: 1px solid #171A4A; /* Bordes del botón activo */
  }
  @media (max-width: 768px) {
    .generalTable {
        font-size: 14px; /* Reducir el tamaño de fuente para pantallas más pequeñas */
    }

    .generalTable th, .generalTable td {
        padding: 4px; /* Menos padding para celdas */
    }

    .pagination a {
        padding: 4px 6px; /* Ajustar el padding de los botones de paginación */
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .generalTable {
        font-size: 12px; /* Reducir aún más el tamaño de fuente en pantallas pequeñas */
    }

    .generalTable th, .generalTable td {
        padding: 2px; /* Menos padding para celdas */
    }

    .pagination a {
        padding: 3px 5px; /* Ajustar el padding de los botones de paginación */
        font-size: 9px;
  
    }
}