.OptionMenu{
    cursor: pointer;
    color: black;
    transition: 0.1s;
}
.OptionMenu:hover{
    color: rgb(100, 99, 99);
    transition: 0.1s;
}

.parTable{
    max-height: 370px !important;
    overflow-y:hidden;
    margin-top: 30px;
    height: 100%;
}
.generalTable2{
    width: 100%;
    align-self: center;
    border-radius: 7px;
    border-collapse: collapse;
}

.generalTable2 thead{
    background-color: #003366;
    color: white;
}

.generalTable2 td{
    border: 1px solid black;
    padding: 6px;
}

.generalTable2 th{
    border: 1px solid black;
}

.generalTable2 th, td{
    text-align: center;
    padding: 1px;
    color: rgb(0, 0, 0);
}

.generalTable2 th {
    color: rgb(255, 255, 255);
}

.generalTable2 tr{
    cursor: pointer;
}
.eyeButton{
    background-color: transparent;
    border: 0px;
    transition: 0.2s;
}
.eyeButton:hover{
    padding: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.generalTable2 tr:nth-child(odd) {
    background-color: #f2f7fb;
}

.generalTable2 tr:nth-child(even) {
    background-color: #fcfdff;
}

.generalTable2 tr:hover {
    background-color: #136ac0;
}

.trSelected {
    color: white;
    background-color: #134c84 !important;
}
.upSelect{
    width: 200px;
}

.generalSelect{
    border-radius: 6px;
    transition: 0.1s;
    background-color: white;
    width: 200px;
}

.generalSelect:hover{
    border-radius: 8px;
    padding: 2px;
    transition: 0.1s;
    background-color: beige;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    justify-content: center;
}

.pagination li {
    margin: 0 3px;
}

.pagination a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid #171A4A;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #171A4A;
    color: white;
}

.pagination .active a {
    background-color: #171A4A;
    color: white;
    border: 1px solid #171A4A;
}

@media (max-width: 768px) {
    .generalTable2 {
        font-size: 13px;
        overflow-x:scroll;
    }

    .generalTable2 th, .generalTable2 td {
        padding: 4px;
    }
    .parTable{
        width: 200px !important;
        overflow-x:visible !important;
        
    }

    .pagination a {
        padding: 4px 6px;
        font-size: 10px;
    }
    .navigator{
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .parTable{
        overflow-x:visible !important;
    }
    .generalTable2 {
        font-size: 10px;
    }

    .generalTable2 th, .generalTable2 td {
        padding: 2px;
    }

    .pagination a {
        padding: 3px 5px;
        font-size: 9px;
    }
    .navigator{
        font-size: 10px;
    }

}

.inputs2{
    max-width: 92px;
}

@media (max-width: 768px) {
    .labels {
        font-size: 14px;
    }

    .inputs, .inputs2, .generalSelect {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .labels {
        font-size: 12px;
    }

    .inputs, .inputs2, .generalSelect {
        font-size: 12px;
    }
}

.incomeTable :hover{

}
