
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .title {
    display: inline-block;
    width: 33%;
    font-size: 18px;
  }
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .custom-table th,
  .custom-table td {
    padding: 20px;
    border: 1px solid #ddd;
  }
  .custom-table tr:first-child th {
    background-color: #142157;
    color: white;
  }
  .second-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .second-table th,
  .second-table td {
    padding: 20px;
    border: 1px solid #ddd;
  }
  .second-table tr:first-child th {
    background-color: #142157; 
    color: white; 
  }
  