
/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1047px) {
  .maintenance-warehouseInventory-container {
      width: 800px;
  }
  .maintenance-warehouseInventory-container table{
    overflow-x: auto;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .maintenance-warehouseInventory-container {
    width: 90%; /* Ajusta el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    overflow-x: auto; /* Agrega desplazamiento horizontal */
  }
  .maintenance-warehouseInventory-container table {
    width: 100%; /* Hace que la tabla ocupe todo el ancho */
  }
  .maintenance-warehouseInventory-filterContainer {
    width: 100%;
    overflow-x: auto; /* Agrega desplazamiento horizontal */
  }
}
.maintenance-warehouseInventory-container {
  width: 90%;
  height: 100%; /* Make the container fill the available height */
  font-family: Arial, sans-serif;
  margin: 0 auto; /* Center the container horizontally */
  border-radius: 8pt;
  padding: 30px;
  padding-bottom: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.maintenance-aeronave-main {
  width: 100%;
  min-height: 95vh; 
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 10px;
}
.maintenance-warehouseInventory-container h2 {
  font-weight: bold;
  padding-bottom: 10px;
}
.maintenance-warehouseInventory-header-principal {
  font-size: 8px;
  margin-left: 20px;
  
}
.maintenance-warehouseInventory-filterContainer{
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  background-color: lightgrey;
  border-radius: 5pt;
}
.maintenance-warehouseInventory-filterContainer p{
  padding: 3px;
  font-family: Arial, sans-serif;
}
.maintenance-warehouseInventory-container select{
  flex: 1;
  height: 40px;
  margin-right: 8px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}
.maintenance-warehouseInventory-container button{
  padding: 10px 20px;
  background-color: #171A4A;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.maintenance-warehouseInventory-container table {
  width: 100%;
  border-collapse: collapse;
}
.maintenance-warehouseInventory-container th{
  background: #171A4A;
  color: #fff;
  padding: 8px;
  text-align: center;
}
.maintenance-warehouseInventory-container footer {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  padding-top: 300px;
}

.maintenance-warehouseInventory-container footer span {
  display: flex;
  align-items: center;
}