.create_operativo-form-container {
    margin: 35px;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
}

.create_operativo-header {
    font-weight: normal;
    display: flex;
    align-items: center;
    width: 100%;
}
  
  .create_operativo-header button {
    background: none;
    border: none;
    padding: 0;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: end;
    margin-right: 10px;
  }

.create_operativo-form {
    background-color: #f0f0f0; 
    padding: 2rem;
    border-radius: 5px;
    overflow-y: auto;
    color: #000000;
}

.create_operativo-form .sar-opetative-type {
    display: flex;
    gap: 10px;
}

    .create_operativo-form .sar-opetative-type select {
        flex: 1;
    }

.create_operativo-form h2, .create_operativo-form h3 {
    color: #000000;
}

.create_operativo-form h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.create_operativo-form h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.create_operativo-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

.create_operativo-form .form-group-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.create_operativo-form .form-group-row .form-group {
    flex: 1;
    margin-right: 1rem;
}

.create_operativo-form .form-group-row .form-group:last-child {
    margin-right: 0;
}

.create_operativo-form label {
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: bold;
}

.create_operativo-form input[type="text"],
.create_operativo-form input[type="time"],
.create_operativo-form input[type="date"]{

    padding: 0.5rem;
    border: 1.5px solid #333;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    height: 35px;
    width: auto;
}
.create_operativo-form select {
    padding: 0.5rem;
    border: 1.5px solid #333;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    height: 55px;
}

.create_operativo-form input[type="file"] {
    display: none; /* Oculta el input de archivo real */
}

.create_operativo-form .form-group.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.create_operativo-form .form-group.file-upload label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.create_operativo-form .form-group.file-upload label img {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px;
}

.create_operativo-form button {
    padding: 0.7rem;
    margin-top: 1rem;
    background-color: #2F2C79;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    width: 150px;
    align-self: center;
}

.create_operativo-form button:hover {
    background-color: #000;
}
.create_operativo-form .form-buttons {
    margin-top: 1rem; /* Espacio entre la tabla y el botón registrar */
    display: flex;
    justify-content: center;
}
.create_operativo_icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 1.2rem;
}

.create_operativo_center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.create_operativo-button:hover {
    color: #ccc;
}

.create_operativo-form .form-buttons {
    margin-top: 1rem; /* Espacio entre la tabla y el botón registrar */
    display: flex;
    justify-content: center;
}