/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1047px) {
  .maintenance-orderslist-container {
      width: 800px;
  }
  .maintenance-orderslist-container table{
    overflow-x: auto;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .maintenance-orderslist-container {
    width: 90%; /* Ajusta el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    overflow-x: auto; /* Agrega desplazamiento horizontal */
  }
  .maintenance-orderslist-container table {
    width: 100%; /* Hace que la tabla ocupe todo el ancho */
  }
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}
.maintenance-orderslist-container{
  font-family: Arial, sans-serif;
  margin: 0;
  border-radius: 8pt;
  padding: 30px;
  background-color: #ffffff;
}
.maintenance-orderslist-container h1 {
  text-align: center;
  color: #000;
}

.maintenance-orderslist-table-container {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid white;
}
.maintenance-orderslist-container table{
  color: #ffffff;

}

.maintenance-orderslist-card {
  display: grid;
  grid-template-columns: 1fr 120px;
  padding: 20px;
  border-radius: 8px;
  max-width: 1000px;
  max-height: 100px;
  margin: 0 auto;
}

.maintenance-orderslist-userInfo {
  margin-right: 20px;
}

.maintenance-orderslist-userInfo h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.maintenance-orderslist-container th, td {
  border: 1px solid white;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #171A4A;
}

.maintenance-orderslist-container th {
  background-color: #171A4A;
  border-color: white;
}
.maintenance-orderslist-container tr{
  background-color: #171A4A;
}
.maintenance-orderslist-container tr:hover {
  background-color: #000;
}


.logo {
  width: 35pt; 
  padding-top: 0;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.maintenance-orderslist-container footer,
.maintenance-orderslist-container footer button {
    display: flex;
    align-items: center;
    gap: 8px;
}
