
.guard-container {
    margin: 35px;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff; 
}
  
.guard-title {
    margin-bottom: 10px;
}
  
.guard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
    .guard-header input[type="text"] {
        margin-right: 10px;
    }

    .guard-header .icon-button-guard{
        background: none;
        border: none;
        padding: 0;
        font-size: 3rem;
        cursor: pointer;
    }
  
.guard-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #171A4A;
}

    .guard-table .options-button {
        background: none;
        border: none;
        padding: 0;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    } 
  
    .guard-table th,
    .guard-table td {
        border: 1px solid #fff;
        padding: 8px;
        color: #fff;
        background-color: #171A4A;
    }
  
    .guard-table th {
        background-color: #171A4A;
    }
    
    .guard-table tbody tr:nth-child(even) {
        background-color: #171A4A;
    }

.form-control.guard {
    width: 200px;
    font-family: system-ui;
}

