/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1047px) {
  .maintenance-componentControl-container {
    width: 800px;
  }
  .maintenance-componentControl-container table {
    overflow-x: auto;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .maintenance-componentControl-container {
    width: 90%; /* Ajusta el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    overflow-x: auto; /* Agrega desplazamiento horizontal */
  }
  .maintenance-componentControl-container table {
    width: 100%; /* Hace que la tabla ocupe todo el ancho */
  }
}

.maintenance-componentControl-container {
  width: 90%;
  height: 100%; /* Make the container fill the available height */
  font-family: Arial, sans-serif;
  margin: 0 auto; /* Center the container horizontally */
  border-radius: 8pt;
  padding: 30px;
  padding-bottom: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for better visual appearance */
}

.maintenance-componentControl-container h1 {
  text-align: center;
  color: #000;
}

.maintenance-componentControl-table-container {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.maintenance-componentControl-container table {
  width: 100%;
  color: #ffffff;
  border-collapse: collapse;
}

.maintenance-componentControl-card {
  display: grid;
  grid-template-columns: 1fr 120px;
  padding: 20px;
  border-radius: 8px;
  max-width: 1000px;
  max-height: 100px;
  margin: 0 auto;
}

.maintenance-componentControl-userInfo {
  margin-right: 20px;
}

.maintenance-componentControl-userInfo h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.maintenance-componentControl-res {
  background-color: rgb(8, 186, 8);
  color: white;
  border-radius: 5pt;
  padding: 1em;
}

.maintenance-componentControl-table-container th,
.maintenance-componentControl-table-container td {
  padding: 15px;
  text-align: center;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.maintenance-componentControl-table-container th {
  background-color: #171A4A;
  color: #fff; 
  border-color: white;
  font-weight: bold;
}

.maintenance-componentControl-table-container tr {
  background-color: #171A4A;
}

.maintenance-componentControl-table-container tr:hover {
  background-color: #000;
}
.maintenance-orderslist-container footer {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  padding-top: 80px;
}

.maintenance-orderslist-container footer span {
  display: flex;
  align-items: center;
}
.maintenance-componentControl-table-container {
  width: 100%;
  padding: 10px; 
}

.maintenance-componentControl-table-container th, 
.maintenance-componentControl-table-container td {
  padding: 15px;
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.maintenance-componentControl-table-container th {
  background-color: #171A4A;
  color: #fff;
  border-color: white;

}

.maintenance-componentControl-table-container tr:hover {
  background-color: #000;
}

.maintenance-componentControl-table-container td {
  background-color: #171A4A;
  color: #fff;
}
