.maintenance-manuals-container {
    width: 100%;
    min-height: 95vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #171A4A;
    color: white;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.maintenance-manuals-container .maintenance-aeronave-container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f0f0f0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.maintenance-manuals-container .maintenance-aeronave-content-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.maintenance-manuals-container .maintenance-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
    transition: all 0.2s ease-in-out;
    border: solid 1px transparent;
    cursor: pointer;
    white-space: nowrap;
}

.maintenance-manuals-container .maintenance-card:hover{
    border: #000 1px solid;
    margin-left: 20px;
}

.maintenance-manuals-container .maintenance-card-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    flex-shrink: 0;
    margin-left: 15px;
}

.maintenance-manuals-container .maintenance-card-description {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.maintenance-manuals-container .maintenance-card-description h2 {
    font-size: 18px;
    color: #207DA4;
    margin: 0;
}

.maintenance-manuals-container .maintenance-card-description h3 {
    font-size: 16px;
    color: red;
    margin: 0;
}

.maintenance-manuals-container .maintenance-card-description h4 {
    font-size: 15px;
    color: #207DA4;
    margin: 0;
}

.maintenance-manuals-container .maintenance-card-description p {
    font-size: 14px;
    color: black;
    margin: 0;
}

.maintenance-manuals-container .maintenance-aeronave-main {
    width: 100%;
    min-height: 95vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-radius: 10px;
}

.maintenance-manuals-container .back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.maintenance-manuals-container .header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.maintenance-manuals-container .main-title {
    margin-left: 10px;
    font-size: 24px;
    color: inherit;
}

.maintenance-manuals-container footer {
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    margin-top: 32px;
}

.maintenance-manuals-container footer span {
    display: flex;
    align-items: center;
    gap: 8px;
}