.personal-header {
    font-weight: normal;
    display: flex;
    align-items: center;
    width: 100%;
}

.personal-header button {
    background: none;
    border: none;
    padding: 0;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: end;
    margin-right: 10px;
}

.personal-header .main-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.personal-header .sub-title {
    font-size: 1rem;
    font-weight: normal;
}

.personal-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff; 
    min-height: 100vh;
    width: 100%;
}

.personal-form {
    background-color: #EEEEEE; 
    padding: 2rem;
    border-radius: 1px;
    width: 100%;
    max-width: 1000px;
    overflow-y: auto;
    color: #000000;
}

.personal-form h2, .personal-form h3 {
    color: #000000;
}

.personal-form h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.personal-form h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.personal-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

.personal-form .form-group-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.personal-form .form-group-row .form-group {
    flex: 1;
    margin-right: 1rem;
}

.personal-form .form-group-row .form-group:last-child {
    margin-right: 0;
}

.personal-form label {
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: bold;
}

.personal-form input[type="text"],
.personal-form input[type="email"],
.personal-form input[type="date"],
.personal-form input[type="file"],
.personal-form select {
    padding: 0.5rem;
    border: 1.5px solid #333;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.personal-form input[type="file"] {
    display: none; /* Oculta el input de archivo real */
}

.personal-form .form-group.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.personal-form .form-group.file-upload label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.personal-form .form-group.file-upload label img {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px;
}

.personal-form button {
    padding: 0.7rem;
    margin-top: 1rem;
    background-color: #2F2C79;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    width: 150px;
    align-self: center;
}

.personal-form button:hover {
    background-color: #000;
}

.personal-sar-documents{
    display: flex;
    justify-content: center;
    align-items: center;
}
