/* Optimized CSS */

@media screen and (min-width: 880px) and (max-width: 1047px) {
  .maintenance-aeronave-container-list {
      width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .maintenance-aeronave-container-list {
      max-width: 370px;
  }
  .maintenance-aeronave-content {
      overflow-x: auto;
  }
}

.maintenance-aeronave-base {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #171A4A;
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.maintenance-aeronave-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This ensures the footer stays at the bottom */
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.maintenance-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: black;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin-top: auto; /* Ensures the footer is pushed to the bottom */
}

.maintenance-footer-left {
  display: flex;
  align-items: center;
}

.maintenance-footer-left button {
  margin-left: 10px; /* Espacio entre USER76234 y el botón */
}

.maintenance-footer img {
  margin-left: auto; /* Mueve la imagen hacia la derecha */
}

.maintenance-aeronave-header {
  text-align: left;
  font-size: 8px;
  margin-left: 100px;
}

.maintenance-aeronave-content {
  flex: 1;
  margin-right: 100px;
}

.maintenance-register-button {
  display: block;
  margin: 20px auto;
  color: white;
  background-color: #171A4A;
  text-align: center;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  max-width: 200px;
}

.maintenance-headers-table {
  background-color: #171A4A;
  color: white;
}

.maintenance-content-table {
  background-color: #171A4A;
  color: white;
}

.maintenance-table-style {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.maintenance-table-style th{
  width: 16.67%;
  padding: 20px;
  text-align: center;
  border: 1px solid white;
  font-weight: 800; 
}
.maintenance-table-style td {
  width: 16.67%;
  padding: 20px;
  text-align: center;
  border: 1px solid white;
  font-weight: 600; 
}

.maintenance-button-style {
  background: none;
  border: none;
  cursor: pointer;
  color: white; /* Ensure icons are visible */
}

.back-link {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  
}
.back-link h1 {
  margin-left: 210px; /* Ajusta el margen izquierdo según sea necesario */
}

.back-link h1 {
  margin-left: 10px; /* Space between icon and text */
  font-size: 24px; /* Text size */
}
